---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = (site.url or metadata.url or '') -%}
{%- for page in collections.all %}
  {%- if page.url and page.data.sitemapIgnore !== true %}
  <url>
    <loc>{{ base }}{{ page.url }}</loc>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
