<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
{%- css %}{% include "public/css/index.css" %}{% endcss %}<style>{% getBundle "css" %}</style>
<link rel="stylesheet" media="screen" href="/css/media.css" />
</head>
<body>
{% include "partials/styles.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
{%- js %}{% include "public/js/index.js" %}{% endjs %}<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
