---
layout: base.njk
---
<main class="print" data-pagefind-body data-pagefind-weight="10">
<div style="display:none" aria-hidden="true">
<span data-pagefind-meta="content_type">page</span>
<span data-pagefind-meta="search_priority">1</span>
<span data-pagefind-meta="source_file">{{ page.fileSlug }}.md</span>
<span data-pagefind-meta="title">{{ title }} — {{ page.fileSlug }}.md</span>
</div>
{% include "partials/header.njk" %}
<div class="container ">
<div class="row mts-5">
{% include "partials/home/sidebar.njk" %}
{% include "partials/home/article.njk" %}
</div>
</div>
{% include "partials/footer_note.njk" %}
</main>
{% include "partials/home/article_print.njk" %}
