---
layout: base.njk
---
<main class="print">
{% include "partials/header.njk" %}
<div class="container ">
<div class="row mts-5">
{% include "partials/home/sidebar.njk" %}
{% include "partials/home/article.njk" %}
</div>
</div>
{% include "partials/footer_note.njk" %}
</main>
{% include "partials/home/article_print.njk" %}
