<div class="container">
<div class="row mt-3">
<div class="col-9 p-3">
<h1 class="text_mobile"><a href="{{metadata.url}}"><img class="img-fluid" width="80" height="80" alt="{{metadata.title}}" 
src="{{metadata.header.logo}}"/></a> 
<strong><a href="{{metadata.url}}" accesskey="{{metadata.header.title_key}}" class="text-dark no-deco">
{{metadata.header.title1}} <span class="text-maron">{{metadata.header.title2}}</span> | <a href="{{metadata.header.subdomain_url}}" accesskey="{{metadata.header.title_subdomain_key}}" class="text-dark no-deco">{{metadata.header.title_subdomain}}</a>
</strong></h1>
</div>
<div class="col-3 p-3 text-end ">
<p>
<a class="btn btn-orange" href="{{metadata.header.contact.url}}" accesskey="{{metadata.header.contact.key}}">
<span class="text_mobile">
{{metadata.header.contact.button}}</span></a>
</p>
</div>
</div>
</div>
<div class="container ">
<nav aria-label="breadcrumb mb-0 ">
<ol class="breadcrumb">
  {% for b in metadata.header.breadcumb %}
    <li class="breadcrumb-item">
      <a class="text-maron" accesskey="{{b.key}}" href="{{b.url}}">{{b.title}}</a>
    </li>
  {% endfor %}

  <li class="breadcrumb-item active" aria-current="page">
    {% set label = entry.Title or breadcrumb or breadcumb or title or metadata.header.default_breadcumb %}
    {{ label }}
  </li>
</ol>
</nav>
<div class="row mts-5">
<div class="col-md-9 p-3 order-1 order-sm-1">
<h2><strong>{{metadata.header.sub_title}}</strong></h2>
</div>
<div class="col-md-3 p-3 order-3 order-sm-2 ">
{% include "partials/searching.njk" %}
</div>
<p class="col-md-12 p-3 mts-5 order-2 order-sm-3">{{metadata.header.info}}</p>
</div>
</div>
