<div class="card mt-5">
<div class="card-header bg-orange"><h4>{{ metadata.sidebar.rss.title if metadata.sidebar.rss.title else "RSS" }}</h4></div>
<div class="card-body">
<ul class="text-small">
{% if metadata.sidebar.rss and metadata.sidebar.rss.item %}
  {% for s in metadata.sidebar.rss.item %}
    <li class="mb-3"><a class="no-deco text-maron" href="{{ s.link }}"> {{ s.name }}</a></li>
  {% endfor %}
{% endif %}
</ul>
</div>
</div>