<div class="accordion" id="accordionSidebar">
{% set seenTags = [] %}

{% for name, meta in collectionsData %}
  {% set targetTag = (meta.collectionTag or name) | upper %}
  
  {% if targetTag not in seenTags %}
    {% set seenTags = (seenTags.push(targetTag), seenTags) %}
    {% set sectionID = "sb-" + (targetTag | slugify) + "-" + loop.index %}

    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button {% if targetTag != (collectionName | upper) %}collapsed{% endif %} btn-maron" 
                type="button" data-bs-toggle="collapse" data-bs-target="#{{ sectionID }}">
          <strong>{{ meta.title | upper }}</strong>
        </button>
      </h3>
      <div id="{{ sectionID }}" class="accordion-collapse collapse {% if targetTag == (collectionName | upper) %}show{% endif %}" data-bs-parent="#accordionSidebar">
        <div class="accordion-body p-1">
          <div class="ms-3">
            {% for s in collections.all | reverse %}
              {% if s.data.entry %}
                {% if (s.data.entry.collection | upper) == targetTag %}
                  <a href="{{ s.url }}" class="btn btn-outline-danger col-12 mt-1 mb-1 {% if s.url == page.url %}actives{% endif %}">
                    {{ s.data.entry.Title }}
                  </a>
                {% endif %}
              {% else %}
                {% set matchMD = false %}
                {% for tag in s.data.tags %}
                  {% if tag | upper == targetTag %}{% set matchMD = true %}{% endif %}
                {% endfor %}
                {% if matchMD %}
                  <a href="{{ s.url }}" class="btn btn-outline-danger col-12 mt-1 mb-1 {% if s.url == page.url %}actives{% endif %}">
                    {{ s.data.title }}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>