<div class="col-md-9 p-3">
{% for home in collections.homepages | reverse %}
<div class="card mb-3" id="{{home.url}}">
<h3 class="card-header text-maron"><strong><a href="{{home.url}}" class="no-deco text-maron">{{home.data.title}}</a></strong></h3>
<div class="card-body">
<article>{% for j in home.data.excerpt %}<p>{{j.text}}</p>{% endfor %}</article>
<p><a href="{{home.url}}">Learn more about {{home.data.title}}</a></p>
</div>
</div>
{% endfor %}
</div>
