<div class="accordion" id="accordionLibguide">

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.homes_sidebar.key}}" 
data-bs-target="#collapse{{metadata.homes_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.homes_sidebar.key}}"><strong>
{{metadata.homes_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.homes_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.homepages | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button show btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.gipc_sidebar.key}}" 
data-bs-target="#collapse{{metadata.gipc_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.gipc_sidebar.key}}"><strong>
{{metadata.gipc_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.gipc_sidebar.key}}" class="accordion-collapse collapse show" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.gipc | reverse %}
{% if si.url == page.url %} <a href="{{metadata.url}}/{{metadata.gipc_sidebar.collections}}#{{si.url}}" class="btn btn-outline-danger col-12  mt-1 mb-1 actives">{% else %}
 <a href="{{metadata.url}}/{{metadata.gipc_sidebar.collections}}#{{si.url}}" class="btn btn-outline-danger col-12  mt-1 mb-1">{% endif %} {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.giwc_sidebar.key}}"
data-bs-target="#collapse{{metadata.giwc_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.giwc_sidebar.key}}"><strong>
{{metadata.giwc_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.giwc_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.giwc | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.giwc_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.unpfii_sidebar.key}}"
data-bs-target="#collapse{{metadata.unpfii_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.unpfii_sidebar.key}}"><strong>
{{metadata.unpfii_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.unpfii_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.unpfii | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.unpfii_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.emrip_sidebar.key}}"
data-bs-target="#collapse{{metadata.emrip_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.emrip_sidebar.key}}"><strong>
{{metadata.emrip_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.emrip_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.emrip | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.emrip_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.redpaper_sidebar.key}}"
data-bs-target="#collapse{{metadata.redpaper_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.redpaper_sidebar.key}}"><strong>
{{metadata.redpaper_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.redpaper_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.redpaper | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.redpaper_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.doctrine_sidebar.key}}"
data-bs-target="#collapse{{metadata.doctrine_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.doctrine_sidebar.key}}"><strong>
{{metadata.doctrine_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.doctrine_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections['doctrine-of-discovery'] | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.doctrine_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.lyons_sidebar.key}}"
data-bs-target="#collapse{{metadata.lyons_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.lyons_sidebar.key}}"><strong>
{{metadata.lyons_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.lyons_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.lyons | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.lyons_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion-item">
<h3 class="accordion-header">
<button class="accordion-button collapsed btn-maron" type="button" data-bs-toggle="collapse" accesskey="{{metadata.general_sidebar.key}}"
data-bs-target="#collapse{{metadata.general_sidebar.key}}" aria-expanded="false" aria-controls="collapse{{metadata.general_sidebar.key}}"><strong>
{{metadata.general_sidebar.title}}
</strong></button>
</h3>
<div id="collapse{{metadata.general_sidebar.key}}" class="accordion-collapse collapse" data-bs-parent="#accordionLibguide">
<div class="accordion-body p-1">
<div class="ms-3">
{% for si in collections.general | reverse %}
<a class="btn btn-outline-danger col-12  mt-1 mb-1" href="{{metadata.url}}/{{metadata.general_sidebar.collections}}#{{si.url}}"> {{si.data.title}}</a>{% endfor %}
</div>
</div>
</div>
</div>

</div>
